In [7]:
import os
import pandas as pd
import numpy as np

In [8]:
# macbook
# folder = '/Users/patrickburke/Library/CloudStorage/OneDrive-EmoryUniversity/ECON496RW/processedCSVs/big/pub_pcrevents_chunks/'

# pc
folder = r'C:\Users\gratt\Desktop\emsData\processedCSVs\big\pub_pcrevents_chunks'

In [9]:
filepaths = [os.path.join(folder, filename) for filename in os.listdir(folder)]
filepaths

['C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk1.csv',
 'C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk10.csv',
 'C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk2.csv',
 'C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk3.csv',
 'C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk4.csv',
 'C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk5.csv',
 'C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk6.csv',
 'C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk7.csv',
 'C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk8.csv',
 'C:\\Users\\gratt\\Desktop\\emsData\\processedCSVs\\big\\pub_pcrevents_chunks\\pub_pcrevents_chunk9.csv']

In [10]:
def importGender(filepath):
    return pd.read_csv(filepath, usecols=["PcrKey", "ePatient_13"], dtype=np.int32)

In [11]:
df = pd.concat(map(importGender, filepaths))

In [12]:
df

            PcrKey  ePatient_13
0          1472192      7701003
1         13273412      9906003
2         14548133      9906001
3         17184298      9906003
4         21699657      9906003
...            ...          ...
4999995  168637681      7701001
4999996  168637682      9906003
4999997  168637683      9906003
4999998  168637684      9906001
4999999  168637685      9906001

[48982990 rows x 2 columns]

In [13]:
df = df.rename(columns= {'ePatient_13' : 'Gender'})
# female = 9906001, change to 1
df = df.replace([9906001], 1)
# male = 9906003, change to 0
df = df.replace([9906003], 0)

In [14]:
df.head()

     PcrKey   Gender
0   1472192  7701003
1  13273412        0
2  14548133        1
3  17184298        0
4  21699657        0

In [15]:
# drop missing data rows
df = df[ (df['Gender'] == 0) | (df['Gender'] == 1) ]

In [16]:
df

            PcrKey  Gender
1         13273412       0
2         14548133       1
3         17184298       0
4         21699657       0
5         21719864       1
...            ...     ...
4999994  168637680       1
4999996  168637682       0
4999997  168637683       0
4999998  168637684       1
4999999  168637685       1

[41748496 rows x 2 columns]

In [17]:
socioeconomic = pd.read_csv(r"C:\Users\gratt\Desktop\emsData\socioeconomic.csv")

In [18]:
socioeconomic.head()

,Unnamed: 0,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear
0,0,13273412,0,1,0,0,0,0,78
1,1,83733589,0,0,0,0,1,0,31
2,2,88178354,0,1,0,0,0,0,85
3,3,97455081,0,1,0,0,0,0,77
4,4,102488422,0,1,0,0,0,0,4

In [20]:
socioeconomic = socioeconomic.drop(columns="Unnamed: 0")

In [21]:
socioeconomic.head()

,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear
0,13273412,0,1,0,0,0,0,78
1,83733589,0,0,0,0,1,0,31
2,88178354,0,1,0,0,0,0,85
3,97455081,0,1,0,0,0,0,77
4,102488422,0,1,0,0,0,0,4

In [22]:
df.head()

     PcrKey  Gender
1  13273412       0
2  14548133       1
3  17184298       0
4  21699657       0
5  21719864       1

In [25]:
df = df.set_index('PcrKey')

In [26]:
df

           Gender
PcrKey
13273412        0
14548133        1
17184298        0
21699657        0
21719864        1
...           ...
168637680       1
168637682       0
168637683       0
168637684       1
168637685       1

[41748496 rows x 1 columns]

In [27]:
socioeconomic = socioeconomic.set_index('PcrKey')

In [28]:
socioeconomic = socioeconomic.join(df)

In [30]:
socioeconomic.head(50)

,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear,Gender
PcrKey,,,,,,,,
13273412,0,1,0,0,0,0,78,0.0
83733589,0,0,0,0,1,0,31,0.0
88178354,0,1,0,0,0,0,85,0.0
97455081,0,1,0,0,0,0,77,0.0
102488422,0,1,0,0,0,0,4,0.0
107295362,0,1,0,0,0,0,31,0.0
110454483,0,0,0,0,1,0,13,1.0
116400273,0,1,0,0,0,0,45,0.0
118170828,0,1,0,0,0,0,23,1.0
118170830,0,1,0,0,0,0,96,1.0
118170835,0,1,0,0,0,0,40,1.0
118170838,1,0,0,0,0,0,48,1.0
118170842,1,0,0,0,0,0,26,1.0
118170844,0,1,0,0,0,0,41,0.0
118170847,0,1,0,0,0,0,73,1.0
118170848,0,1,0,0,0,0,34,0.0
118170851,0,0,1,0,0,0,16,1.0
118170860,0,1,0,0,0,0,49,1.0
118170865,0,1,0,0,0,0,53,0.0
118170869,1,0,0,0,0,0,74,1.0
118170870,0,1,0,0,0,0,76,0.0
118170874,0,1,0,0,0,0,58,0.0
118170880,0,1,0,0,0,0,74,1.0
118170885,0,1,0,0,0,0,73,0.0
118170889,0,1,0,0,0,0,40,1.0
118170891,1,0,0,0,0,0,65,1.0
118170892,0,1,0,0,0,0,46,0.0
118170893,1,0,0,0,0,0,62,0.0
118170895,0,1,0,0,0,0,73,1.0
118170896,1,0,0,0,0,0,23,1.0
118170899,0,1,0,0,0,0,99,1.0
118170900,0,1,0,0,0,0,33,1.0
118170903,0,1,0,0,0,0,85,1.0
118170905,0,1,0,0,0,0,65,1.0
118170908,1,0,0,0,0,0,73,0.0
118170909,0,1,0,0,0,0,26,1.0
118170915,0,1,0,0,0,0,21,0.0
118170919,0,1,0,0,0,0,50,0.0
118170922,0,1,0,0,0,0,69,1.0
118170927,1,0,0,0,0,0,31,0.0
118170931,1,0,0,0,0,0,45,0.0
118170935,1,0,0,0,0,0,22,1.0
118170939,1,0,0,0,0,0,26,1.0
118170944,1,0,0,0,0,0,54,1.0
118170946,0,1,0,0,0,0,76,0.0
118170953,0,1,0,0,0,0,77,0.0
118170957,0,1,0,0,0,0,26,1.0
118170963,1,0,0,0,0,0,64,0.0
118170967,1,0,1,0,0,0,60,1.0
118170973,0,1,0,0,0,0,56,1.0

In [31]:
socioeconomic = socioeconomic.rename(columns={'Gender':'gender'})

In [33]:
socioeconomic.to_csv(r"C:\Users\gratt\Desktop\emsData\raceAgeGender.csv")

In [ ]:
socioeconomic.to_csv()

In [ ]:
# sql stuff that i'm no longer using

In [76]:
# connect to sql db
from sqlalchemy import create_engine
db = create_engine(r"sqlite:///C:\Users\pat\OneDrive - Emory University\ECON496RW\emsData.db")

In [77]:
# create new column
add_col = 'ALTER TABLE socioeconomic ADD gender INTEGER;'
db.execute(add_col)

In [80]:
# we'll just export to new table for now then do the join inside sqlite
#new_table = 'CREATE TABLE genderTable (PcrKey INT PRIMARY KEY, gender INT);'
#db.execute(new_table)

In [82]:
df.to_sql('genderTable', con=db, index=False)

41748496

Join Query:

UPDATE socioeconomic SET gender = (SELECT Gender FROM genderTable WHERE socioeconomic.PcrKey = genderTable.PcrKey);