In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\gratt\Desktop\emsData\readyForStats\full\racesplus2.csv")

In [3]:
df.head()

,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear,EMSSystemResponseTimeMin
0,13273412,0,1,0,0,0,0,78,8.633333
1,83733589,0,0,0,0,1,0,31,29.000000
2,88178354,0,1,0,0,0,0,85,3.000000
3,97455081,0,1,0,0,0,0,77,109.000000
4,102488422,0,1,0,0,0,0,4,31.000000

In [6]:
df = df.drop(columns=['EMSSystemResponseTimeMin'])

In [7]:
df.head()

,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear
0,13273412,0,1,0,0,0,0,78
1,83733589,0,0,0,0,1,0,31
2,88178354,0,1,0,0,0,0,85
3,97455081,0,1,0,0,0,0,77
4,102488422,0,1,0,0,0,0,4

In [8]:
df.to_csv(r"C:\Users\gratt\Desktop\emsData\socioeconomic.csv")