In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
db = create_engine('sqlite:////Users/patrickburke/Library/CloudStorage/OneDrive-EmoryUniversity/ECON496RW/emsData.db')

In [8]:
df = pd.read_sql_query('''
SELECT 
    raceTable.PcrKey,
    black,
    white,
    hispanic_latino,
    asian,
    americanIndian_alaskaNative,
    nativeHawaiian_otherPacificIslander,
    ageinyear,
    EMSSystemResponseTimeMin
FROM
    raceTable
LEFT JOIN computedElements
    ON computedElements.PcrKey = raceTable.PcrKey;
    ''', db)

- 14 minutes 50seconds !!!!!

In [9]:
df.head()

,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear,EMSSystemResponseTimeMin
0,13273412,0,1,0,0,0,0,78,8.633333
1,17184298,0,1,0,0,0,0,10,.
2,21699657,0,1,0,0,0,0,84,.
3,72057010,0,1,0,0,0,0,84,.
4,83733589,0,0,0,0,1,0,31,29.0

- this looks pretty perfect

In [10]:
len(df.index)

32866360

In [ ]:
# drop rows with missing data for age and for EMSSystemResponseTimeMin
df = df[(df['ageinyear'] != ".")]
df = df[(df['EMSSystemResponseTimeMin'] != ".")]

In [ ]:
len(df.index)

In [ ]:
# reset index (currently skips since we dropped a bunch of rows)
df.reset_index(drop=True)

In [ ]:
df.dtypes

In [ ]:
# fix types
# I'm gonna keep the booleans as ints for now
df.astype({
'PcrKey'                              :'int32',
'white'                               :'int32',
'hispanic_latino'                     :'int32',
'asian'                               :'int32',
'black'                               :'int32',
'americanIndian_alaskaNative'         :'int32',
'nativeHawaiian_otherPacificIslander' :'int32',
'ageinyear'                           :'int32',
'EMSSystemResponseTimeMin'            :'float32'
}).dtypes

In [ ]:
df.dtypes

In [ ]:
df.head(25)

In [11]:
df.to_csv('/Users/patrickburke/Library/CloudStorage/OneDrive-EmoryUniversity/ECON496RW/raceANDcomp/v1.csv',index=False)