In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/patrickburke/Library/CloudStorage/OneDrive-EmoryUniversity/ECON496RW/raceANDcomp/v1.csv')

In [3]:
df.head()

,Unnamed: 0,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear,EMSSystemResponseTimeMin
0,0,13273412,0,1,0,0,0,0,78,8.6333333333
1,1,17184298,0,1,0,0,0,0,10,.
2,2,21699657,0,1,0,0,0,0,84,.
3,3,72057010,0,1,0,0,0,0,84,.
4,4,83733589,0,0,0,0,1,0,31,29.0

- gosh darn I forgot to put index = false

In [4]:
df = df.drop(columns=['Unnamed: 0'])

In [11]:
df.head(50)

,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear,EMSSystemResponseTimeMin
0,13273412,0,1,0,0,0,0,78,8.6333333333
1,17184298,0,1,0,0,0,0,10,.
2,21699657,0,1,0,0,0,0,84,.
3,72057010,0,1,0,0,0,0,84,.
4,83733589,0,0,0,0,1,0,31,29.0
5,88178354,0,1,0,0,0,0,85,3.0
6,97455081,0,1,0,0,0,0,77,109.0
7,102488422,0,1,0,0,0,0,4,31.0
8,107295362,0,1,0,0,0,0,31,4.0
9,110454483,0,0,0,0,1,0,13,49.0
10,116400273,0,1,0,0,0,0,45,7.0
11,118170828,0,1,0,0,0,0,23,0.8833333333
12,118170830,0,1,0,0,0,0,96,4.25
13,118170835,0,1,0,0,0,0,40,17.4
14,118170838,1,0,0,0,0,0,48,6.5
15,118170842,1,0,0,0,0,0,26,7.3666666667
16,118170844,0,1,0,0,0,0,41,7.9666666667
17,118170847,0,1,0,0,0,0,73,5.8333333333
18,118170848,0,1,0,0,0,0,34,8.15
19,118170851,0,0,1,0,0,0,16,26.0
20,118170860,0,1,0,0,0,0,49,3.3
21,118170865,0,1,0,0,0,0,53,20.816666667
22,118170869,1,0,0,0,0,0,74,7.6
23,118170870,0,1,0,0,0,0,76,14.45
24,118170874,0,1,0,0,0,0,58,14.733333333
25,118170880,0,1,0,0,0,0,74,4.0
26,118170885,0,1,0,0,0,0,73,2.5333333333
27,118170887,1,0,0,0,0,0,.,13.533333333
28,118170889,0,1,0,0,0,0,40,7.8
29,118170891,1,0,0,0,0,0,65,10.2
30,118170892,0,1,0,0,0,0,46,6.0
31,118170893,1,0,0,0,0,0,62,4.4
32,118170895,0,1,0,0,0,0,73,8.5666666667
33,118170896,1,0,0,0,0,0,23,15.833333333
34,118170899,0,1,0,0,0,0,99,7.65
35,118170900,0,1,0,0,0,0,33,13.466666667
36,118170903,0,1,0,0,0,0,85,12.333333333
37,118170905,0,1,0,0,0,0,65,4.2166666667
38,118170908,1,0,0,0,0,0,73,2.9333333333
39,118170909,0,1,0,0,0,0,26,19.0
40,118170915,0,1,0,0,0,0,21,13.0
41,118170919,0,1,0,0,0,0,50,4.1333333333
42,118170922,0,1,0,0,0,0,69,8.2666666667
43,118170927,1,0,0,0,0,0,31,1.8833333333
44,118170931,1,0,0,0,0,0,45,11.45
45,118170935,1,0,0,0,0,0,22,7.2166666667
46,118170939,1,0,0,0,0,0,26,4.1166666667
47,118170944,1,0,0,0,0,0,54,6.75
48,118170946,0,1,0,0,0,0,76,9.8
49,118170951,0,1,0,0,0,0,.,10.483333333

- LAST THING before I can build a model is to drop rows with missing data for age and for EMSSystemResponseTimeMin

In [8]:
# this grabs by [y, x]
print(df.iloc[1,8])
print(type(df.iloc[1,8]))

.
<class 'str'>

- yea so those periods that essentially represent missing data are strings which is pretty annoying as that's creating a ton of bloat

In [9]:
print(df.iloc[0,8])
print(type(df.iloc[1,8]))

8.6333333333
<class 'str'>

- wow even the numbers are strings what the heck

In [10]:
df.dtypes

PcrKey                                  int64
black                                   int64
white                                   int64
hispanic_latino                         int64
asian                                   int64
americanIndian_alaskaNative             int64
nativeHawaiian_otherPacificIslander     int64
ageinyear                              object
EMSSystemResponseTimeMin               object
dtype: object

- yea so we need to fix that
- at least all the missing data is periods so we can pretty easily just drop all of those

In [12]:
# this will get rid of all the dots in the age column
df = df[(df['ageinyear'] != ".")]

In [13]:
df.head(50)

,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear,EMSSystemResponseTimeMin
0,13273412,0,1,0,0,0,0,78,8.6333333333
1,17184298,0,1,0,0,0,0,10,.
2,21699657,0,1,0,0,0,0,84,.
3,72057010,0,1,0,0,0,0,84,.
4,83733589,0,0,0,0,1,0,31,29.0
5,88178354,0,1,0,0,0,0,85,3.0
6,97455081,0,1,0,0,0,0,77,109.0
7,102488422,0,1,0,0,0,0,4,31.0
8,107295362,0,1,0,0,0,0,31,4.0
9,110454483,0,0,0,0,1,0,13,49.0
10,116400273,0,1,0,0,0,0,45,7.0
11,118170828,0,1,0,0,0,0,23,0.8833333333
12,118170830,0,1,0,0,0,0,96,4.25
13,118170835,0,1,0,0,0,0,40,17.4
14,118170838,1,0,0,0,0,0,48,6.5
15,118170842,1,0,0,0,0,0,26,7.3666666667
16,118170844,0,1,0,0,0,0,41,7.9666666667
17,118170847,0,1,0,0,0,0,73,5.8333333333
18,118170848,0,1,0,0,0,0,34,8.15
19,118170851,0,0,1,0,0,0,16,26.0
20,118170860,0,1,0,0,0,0,49,3.3
21,118170865,0,1,0,0,0,0,53,20.816666667
22,118170869,1,0,0,0,0,0,74,7.6
23,118170870,0,1,0,0,0,0,76,14.45
24,118170874,0,1,0,0,0,0,58,14.733333333
25,118170880,0,1,0,0,0,0,74,4.0
26,118170885,0,1,0,0,0,0,73,2.5333333333
28,118170889,0,1,0,0,0,0,40,7.8
29,118170891,1,0,0,0,0,0,65,10.2
30,118170892,0,1,0,0,0,0,46,6.0
31,118170893,1,0,0,0,0,0,62,4.4
32,118170895,0,1,0,0,0,0,73,8.5666666667
33,118170896,1,0,0,0,0,0,23,15.833333333
34,118170899,0,1,0,0,0,0,99,7.65
35,118170900,0,1,0,0,0,0,33,13.466666667
36,118170903,0,1,0,0,0,0,85,12.333333333
37,118170905,0,1,0,0,0,0,65,4.2166666667
38,118170908,1,0,0,0,0,0,73,2.9333333333
39,118170909,0,1,0,0,0,0,26,19.0
40,118170915,0,1,0,0,0,0,21,13.0
41,118170919,0,1,0,0,0,0,50,4.1333333333
42,118170922,0,1,0,0,0,0,69,8.2666666667
43,118170927,1,0,0,0,0,0,31,1.8833333333
44,118170931,1,0,0,0,0,0,45,11.45
45,118170935,1,0,0,0,0,0,22,7.2166666667
46,118170939,1,0,0,0,0,0,26,4.1166666667
47,118170944,1,0,0,0,0,0,54,6.75
48,118170946,0,1,0,0,0,0,76,9.8
50,118170953,0,1,0,0,0,0,77,14.45
51,118170957,0,1,0,0,0,0,26,4.7666666667

In [14]:
len(df.index)

32582122

In [15]:
df = df[(df['EMSSystemResponseTimeMin'] != ".")]

In [16]:
df.head(50)

,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear,EMSSystemResponseTimeMin
0,13273412,0,1,0,0,0,0,78,8.6333333333
4,83733589,0,0,0,0,1,0,31,29.0
5,88178354,0,1,0,0,0,0,85,3.0
6,97455081,0,1,0,0,0,0,77,109.0
7,102488422,0,1,0,0,0,0,4,31.0
8,107295362,0,1,0,0,0,0,31,4.0
9,110454483,0,0,0,0,1,0,13,49.0
10,116400273,0,1,0,0,0,0,45,7.0
11,118170828,0,1,0,0,0,0,23,0.8833333333
12,118170830,0,1,0,0,0,0,96,4.25
13,118170835,0,1,0,0,0,0,40,17.4
14,118170838,1,0,0,0,0,0,48,6.5
15,118170842,1,0,0,0,0,0,26,7.3666666667
16,118170844,0,1,0,0,0,0,41,7.9666666667
17,118170847,0,1,0,0,0,0,73,5.8333333333
18,118170848,0,1,0,0,0,0,34,8.15
19,118170851,0,0,1,0,0,0,16,26.0
20,118170860,0,1,0,0,0,0,49,3.3
21,118170865,0,1,0,0,0,0,53,20.816666667
22,118170869,1,0,0,0,0,0,74,7.6
23,118170870,0,1,0,0,0,0,76,14.45
24,118170874,0,1,0,0,0,0,58,14.733333333
25,118170880,0,1,0,0,0,0,74,4.0
26,118170885,0,1,0,0,0,0,73,2.5333333333
28,118170889,0,1,0,0,0,0,40,7.8
29,118170891,1,0,0,0,0,0,65,10.2
30,118170892,0,1,0,0,0,0,46,6.0
31,118170893,1,0,0,0,0,0,62,4.4
32,118170895,0,1,0,0,0,0,73,8.5666666667
33,118170896,1,0,0,0,0,0,23,15.833333333
34,118170899,0,1,0,0,0,0,99,7.65
35,118170900,0,1,0,0,0,0,33,13.466666667
36,118170903,0,1,0,0,0,0,85,12.333333333
37,118170905,0,1,0,0,0,0,65,4.2166666667
38,118170908,1,0,0,0,0,0,73,2.9333333333
39,118170909,0,1,0,0,0,0,26,19.0
40,118170915,0,1,0,0,0,0,21,13.0
41,118170919,0,1,0,0,0,0,50,4.1333333333
42,118170922,0,1,0,0,0,0,69,8.2666666667
43,118170927,1,0,0,0,0,0,31,1.8833333333
44,118170931,1,0,0,0,0,0,45,11.45
45,118170935,1,0,0,0,0,0,22,7.2166666667
46,118170939,1,0,0,0,0,0,26,4.1166666667
47,118170944,1,0,0,0,0,0,54,6.75
48,118170946,0,1,0,0,0,0,76,9.8
50,118170953,0,1,0,0,0,0,77,14.45
51,118170957,0,1,0,0,0,0,26,4.7666666667
53,118170963,1,0,0,0,0,0,64,32.883333333
54,118170967,1,0,1,0,0,0,60,34.0
55,118170973,0,1,0,0,0,0,56,8.2833333333

- Boom perfect

In [17]:
df.dtypes

PcrKey                                  int64
black                                   int64
white                                   int64
hispanic_latino                         int64
asian                                   int64
americanIndian_alaskaNative             int64
nativeHawaiian_otherPacificIslander     int64
ageinyear                              object
EMSSystemResponseTimeMin               object
dtype: object

In [22]:
# fix types
# I'm gonna keep the booleans as ints for now
df.astype({
'PcrKey'                              :'int32',
'white'                               :'int32',
'hispanic_latino'                     :'int32',
'asian'                               :'int32',
'black'                               :'int32',
'americanIndian_alaskaNative'         :'int32',
'nativeHawaiian_otherPacificIslander' :'int32',
'ageinyear'                           :'int32',
'EMSSystemResponseTimeMin'            :'float32'
}).dtypes

PcrKey                                   int32
black                                    int32
white                                    int32
hispanic_latino                          int32
asian                                    int32
americanIndian_alaskaNative              int32
nativeHawaiian_otherPacificIslander      int32
ageinyear                                int32
EMSSystemResponseTimeMin               float32
dtype: object

In [23]:
df.head()

,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear,EMSSystemResponseTimeMin
0,13273412,0,1,0,0,0,0,78,8.6333333333
4,83733589,0,0,0,0,1,0,31,29.0
5,88178354,0,1,0,0,0,0,85,3.0
6,97455081,0,1,0,0,0,0,77,109.0
7,102488422,0,1,0,0,0,0,4,31.0

In [24]:
df.reset_index(drop=True)

,PcrKey,black,white,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,ageinyear,EMSSystemResponseTimeMin
0,13273412,0,1,0,0,0,0,78,8.6333333333
1,83733589,0,0,0,0,1,0,31,29.0
2,88178354,0,1,0,0,0,0,85,3.0
3,97455081,0,1,0,0,0,0,77,109.0
4,102488422,0,1,0,0,0,0,4,31.0
...,...,...,...,...,...,...,...,...,...
32417152,182540290,1,0,0,0,0,0,77,11.25
32417153,182540377,1,0,0,0,0,0,54,9.0
32417154,182540383,1,0,0,0,0,0,78,40.1
32417155,182541657,0,1,0,0,0,0,74,3.0
32417156,182544491,0,1,0,0,0,0,75,9.9

In [25]:
df.to_csv('/Users/patrickburke/Library/CloudStorage/OneDrive-EmoryUniversity/ECON496RW/raceANDcomp/v2.csv',index=False)