In [24]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [25]:
df = pd.read_csv(r"C:\Users\gratt\Desktop\emsData\raceAgeSexAcuityTrauma.csv", index_col='PcrKey', dtype=int)

In [26]:
df

,hospCapability,initialPtAcuity,white,black,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,sex,age
PcrKey,,,,,,,,,,
118170851,0,2,0,0,1,0,0,0,1,16
118170860,0,3,1,0,0,0,0,0,1,49
118170980,0,3,1,0,0,0,0,0,0,30
118171192,0,3,0,1,0,0,0,0,1,58
118171212,0,2,1,0,0,0,0,0,0,41
...,...,...,...,...,...,...,...,...,...,...
168637433,0,2,1,0,0,0,0,0,1,45
168637452,0,3,1,0,0,0,0,0,0,15
168637590,0,3,1,0,0,0,0,0,1,51
168637609,0,3,1,0,0,0,0,0,1,76
168637671,0,2,1,0,0,0,0,0,1,84

In [27]:
df['initialPtAcuity'].value_counts(normalize=True)

2    0.650347
3    0.292304
4    0.056418
1    0.000930
Name: initialPtAcuity, dtype: float64

In [28]:
crit = df[ df['initialPtAcuity'] == 4]

In [29]:
crit

,hospCapability,initialPtAcuity,white,black,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,sex,age
PcrKey,,,,,,,,,,
118171324,0,4,0,1,0,0,0,0,1,19
118171963,1,4,1,0,0,0,0,0,1,37
118172225,0,4,1,0,0,0,0,0,1,25
118172592,0,4,1,0,0,0,0,0,1,91
118255842,1,4,0,0,1,0,0,0,0,27
...,...,...,...,...,...,...,...,...,...,...
168631386,0,4,0,0,0,0,0,1,1,80
168631542,1,4,1,0,0,0,0,0,1,9
168631858,1,4,1,0,0,0,0,0,0,21
168635728,0,4,1,0,0,0,0,0,1,86
168636369,0,4,1,0,0,0,0,0,0,66

In [30]:
# number patients critically injured who were transported to a trauma center
crit['hospCapability'].value_counts()

0    63829
1    44214
Name: hospCapability, dtype: int64

In [31]:
# proportion of patients critically injuired who were transported to a trauma center
crit['hospCapability'].value_counts(normalize= True)

0    0.590774
1    0.409226
Name: hospCapability, dtype: float64

In [32]:
critblack = crit[ crit['black'] == 1 ]

In [33]:
critblack

,hospCapability,initialPtAcuity,white,black,hispanic_latino,asian,americanIndian_alaskaNative,nativeHawaiian_otherPacificIslander,sex,age
PcrKey,,,,,,,,,,
118171324,0,4,0,1,0,0,0,0,1,19
118258648,1,4,0,1,0,0,0,0,0,46
118273215,0,4,0,1,0,0,0,0,0,52
118273777,0,4,0,1,0,0,0,0,1,37
118273880,0,4,0,1,0,0,0,0,1,5
...,...,...,...,...,...,...,...,...,...,...
168621168,0,4,0,1,0,0,0,0,0,3
168622175,1,4,0,1,0,0,0,0,0,61
168623916,0,4,0,1,0,0,0,0,0,56
168624917,1,4,0,1,0,0,0,0,0,46
168628378,0,4,0,1,0,0,0,0,0,53

In [34]:
critblack['hospCapability'].value_counts()

0    12427
1     8818
Name: hospCapability, dtype: int64

In [35]:
critblack['hospCapability'].value_counts(normalize=True)

0    0.584938
1    0.415062
Name: hospCapability, dtype: float64

In [36]:
crit.columns

Index(['hospCapability', 'initialPtAcuity', 'white', 'black',
       'hispanic_latino', 'asian', 'americanIndian_alaskaNative',
       'nativeHawaiian_otherPacificIslander', 'sex', 'age'],
      dtype='object')

In [39]:
mod = smf.ols(formula = 'hospCapability ~ white + black + hispanic_latino + asian + americanIndian_alaskaNative + nativeHawaiian_otherPacificIslander + sex + age', data = crit).fit()

In [40]:
mod.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         hospCapability   R-squared:                       0.016
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                     215.2
Date:                Wed, 26 Oct 2022   Prob (F-statistic):               0.00
Time:                        02:34:45   Log-Likelihood:                -75752.
No. Observations:              108043   AIC:                         1.515e+05
Df Residuals:                  108034   BIC:                         1.516e+05
Df Model:                           8
Covariance Type:            nonrobust
=======================================================================================================
                                          coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                               0.5225      0.011     47.965      0.000       0.501       0.544
white                                   0.0211      0.010      2.033      0.042       0.001       0.042
black                                  -0.0091      0.011     -0.839      0.401      -0.030       0.012
hispanic_latino                        -0.0071      0.010     -0.695      0.487      -0.027       0.013
asian                                   0.0092      0.015      0.596      0.551      -0.021       0.039
americanIndian_alaskaNative            -0.0915      0.015     -6.163      0.000      -0.121      -0.062
nativeHawaiian_otherPacificIslander    -0.0388      0.027     -1.444      0.149      -0.092       0.014
sex                                    -0.0655      0.003    -20.806      0.000      -0.072      -0.059
age                                    -0.0021   6.57e-05    -32.315      0.000      -0.002      -0.002
==============================================================================
Omnibus:                   421105.540   Durbin-Watson:                   1.780
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            17013.523
Skew:                           0.357   Prob(JB):                         0.00
Kurtosis:                       1.192   Cond. No.                         968.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""